<table mat-table [dataSource]="orderDataSource" *ngIf="$orders.length > 0"
  class="mat-elevation-z0">
  
  <ng-container matColumnDef="recived">
    <th mat-header-cell *matHeaderCellDef><mat-checkbox (change)="_selectAll($event)" [checked]="all" ></mat-checkbox></th>
    <td mat-cell *matCellDef="let order">
      <mat-checkbox 
      (change)="order.selected = $event.checked;" 
      [checked]="order.selected"
      [disabled]="order.recived_at != null" ></mat-checkbox>
    </td>
  </ng-container>

    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No </th>
      <td mat-cell *matCellDef="let order"> {{$orders.indexOf(order)+1}} </td>
    </ng-container>
  
    <ng-container matColumnDef="drug">
      <th mat-header-cell *matHeaderCellDef> Drug </th>
      <td mat-cell *matCellDef="let order"> {{order.drug.name}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let order"> {{order.adjusted_quantity}} </td>
    </ng-container>

    <ng-container matColumnDef="autorized">
      <th mat-header-cell *matHeaderCellDef> Authorized </th>
      <td mat-cell *matCellDef="let order"> 
        <mat-icon *ngIf="order.autorized_by == null" style='color:red'>clear</mat-icon>
        <mat-icon *ngIf="order.autorized_by != null" style='color:green'>check</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="issued_quantity">
        <th mat-header-cell *matHeaderCellDef> Issued Quantity </th>
        <td mat-cell *matCellDef="let order"> 
          <input *ngIf="order.recived_at == null" type="number" [value]="order.issued_quantity" (change)="order.issued_quantity = $event.srcElement.value">
          <span *ngIf="order.recived_at != null">{{order.issued_quantity}}</span>
        </td>
    </ng-container>
    
    <ng-container matColumnDef="batch_number">
        <th mat-header-cell *matHeaderCellDef>Batch </th>
        <td mat-cell *matCellDef="let order">
          <input *ngIf="order.recived_at == null" type="number" [value]="order.batch_number" (change)="order.batch_number = $event.srcElement.value">
          <span *ngIf="order.recived_at != null">{{order.batch_number}}</span>
        </td>
    </ng-container>
    
    <ng-container matColumnDef="expier_at">
        <th mat-header-cell *matHeaderCellDef>Expiredate </th>
        <td mat-cell *matCellDef="let order"> 
          <input *ngIf="order.recived_at == null" type="date" [value]="order.expier_at" (change)="order.expier_at = $event.srcElement.value">
          <span *ngIf="order.recived_at != null">{{order.expier_at}}</span>
        </td>
    </ng-container>

    <ng-container matColumnDef="is_recived">
      <th mat-header-cell *matHeaderCellDef> Is recived </th>
      <td mat-cell *matCellDef="let order"> 
        <mat-icon *ngIf="order.recived_at == null" style='color:red'>clear</mat-icon>
        <mat-icon *ngIf="order.recived_at != null" style='color:green'>check</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="recived_at">
        <th mat-header-cell *matHeaderCellDef>Recived at </th>
        <td mat-cell *matCellDef="let order"> {{order.recived_at}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table> 
  <div class="row" *ngIf="$orders.length != 0">
    <button 
      class="right white-text primary" 
      mat-button color="primary" 
      style="margin: 3em"
      (click)="issue()"
     >Issue</button>
  </div>
  <div class="row" *ngIf="$orders.length == 0">
    <div class="center" style="width: 100%; opacity: 0.8">
      <h6><strong class="tertiary center">
        <B>There is no order yet</B>
      </strong></h6>
    </div>
  </div>